.googleIcon {
	display: flex;
	justify-content: center;
	align-items: center;


	color: white;
	width: 24px;
	height: 24.01px;
	// background-color: #1312;
	border-radius: 25px;

	&.href {
		color: rgb(116, 181, 116);
	}
}